@use "sass:color";
$blue: #3bbfce;
$margin: 16px;

.content-navigation {
  border-color: $blue;
  color:
    color.adjust($blue, $lightness: -9%);
}

.border {
  padding: calc($margin / 2);
  margin: calc($margin / 2);
  border-color: $blue;
}
